<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../static/3rdparty/sui/semantic.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>

<body>
    <div class="ui attached inverted menu">
        <div class="ui container">
            <div class="header item">无线项目质量度量</div>
            <div class="ui simple right floated dropdown item">
                年月
                <i class="dropdown icon"></i>
                <div class="ui menu">
                    <a href="#" class="item">2018-01</a>
                    <a href="#" class="item">2018-02</a>
                    <a href="#" class="item">2018-03</a>
                </div>
            </div>
            <a href="#" class="ui item">User
                <i class="power icon"></i>
            </a>
        </div>


    </div>
    <div class="ui container">
        <div class="ui segment">
            <div class="ui two column grid">
                <div class="ui three wide column m-padded-tb-small">
                    <div class="ui buttons">
                        <button class="ui green button">IPMT</button>
                        <div class="or"></div>
                        <button class="ui button">PO</button>
                    </div>

                </div>
                <div class="ui thirteen wide column m-padded-tb-small">
                    <div class="ui four item menu">
                        <a href="#" class="ui active button item">偏差</a>
                        <a href="#" class="ui button item">合同</a>
                        <a href="#" class="ui button item">规范性</a>
                        <a href="#" class="ui button item">风险</a>
                    </div>
                </div>
            </div>
            <div class="ui two column grid">
                <div class="ui three wide column m-padded-tb-mini">
                    <div class="ui vertical menu"  style="width:14em">
                        <a href="#" class="ui active item">总览
                            <div class="ui green empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">无线
                            <div class="ui green empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">GSM
                            <div class="ui orange empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                            <div class="ui red empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                            <div class="ui red empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                            <div class="ui red empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                            <div class="ui red empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                            <div class="ui red empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                            <div class="ui red empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                            <div class="ui red empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                            <div class="ui red empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                            <div class="ui red empty circular label"></div>
                        </a>
                        <a href="#" class="ui item">UMTS
                                <div class="ui red empty circular label"></div>
                            </a>
                    </div>
                </div>
                <div class="ui thirteen wide column m-padded-tb-mini">
                    <div class="ui segment">
                        <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>团队</th>
                                    <th>团队</th>
                                    <th>团队</th>
                                    <th>团队</th>
                                    <th>团队</th>
                                    <th>团队</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                                <tr>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                    <td>团队</td>
                                    <td>t1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>


    </div>
    </div>









    <script type="text/JavaScript" src="../static/3rdparty/jq/jquery.min.js"></script>
</body>

</html>